body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F0F8FF;
}
h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
    line-height: 2;
}

hr {
  border: dotted 6px;
  border-color: #778899;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}


.profile {
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-conatiner {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.and-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}
.web-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.button {
  background-color: #11CDD4;
  padding: 20px 20px;
  border-radius: 10px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
}
.button:hover {
  background-color: #2BC4AD;
}
